version: "3.8"

services:
  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: meubanco
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - rede_local

  app:
    build: .
    container_name: flask_app
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: 12345
      DB_NAME: meubanco
    depends_on:
      - db
    networks:
      - rede_local

volumes:
  db_data:

networks:
  rede_local:
